<section class="gls-section-default">
  <div class="gls-cover-container">
    <div class="gls-section gls-position-relative gls-text-center">
      <div class="gls-container gls-container-small">
        <div class="gls-margin-medium-bottom">
          <h1 class="gls-heading-small gls-text-semibold gls-text-uppercase gls-margin-remove">
            Mental Health Providers
          </h1>
        </div>
        <div class="gls-margin-medium-bottom">
          <p>
            As required by Utah Senate Bill 26 (SB26), the following page contains
            licensure and contact information about mental health care providers
            practicing across University of Utah Health.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- List of Licenses -->
<section class="gls-section gls-section-muted">
  <div class="gls-container">
    <h2 class="gls-text-center gls-text-primary">Test 1</h2>
    <app-providers-by-specialty [specialty]="'test01'"></app-providers-by-specialty>
  </div>
</section>

<section class="gls-section gls-section-default">
  <div class="gls-container">
    <h2 class="gls-text-center gls-text-primary">Test 2</h2>
    <app-providers-by-specialty [specialty]="'test02'"></app-providers-by-specialty>
  </div>
</section>

<section class="gls-section gls-section-muted">
  <div class="gls-container">
    <h2 class="gls-text-center gls-text-primary">Test 3</h2>
    <app-providers-by-specialty [specialty]="'test03'"></app-providers-by-specialty>
  </div>
</section>