<section class="gls-section-default">
  <div class="gls-cover-container">
    <div class="gls-section gls-position-relative gls-text-center">
      <div class="gls-container gls-container-small">
        <div class="gls-margin-medium-bottom">
          <h1 class="gls-heading-small gls-text-semibold gls-text-uppercase gls-margin-remove">
            Mental Health Providers
          </h1>
        </div>
        <div class="gls-margin-medium-bottom">
          <p>
            As required by Utah Senate Bill 26 (SB26), the following page contains
            licensure and contact information about mental health care providers
            practicing across University of Utah Health.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-providers-by-specialty [title]="'Social Work'" [customClass]="'gls-section-muted'" [specialty]="'SPEC000125'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Psychology, Clinical'" [customClass]="'gls-section-default'" [specialty]="'SPEC000114'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Clinical Psychology'" [customClass]="'gls-section-muted'" [specialty]="'SPEC000018'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Psychology'" [customClass]="'gls-section-default'" [specialty]="'SPEC000113'"></app-providers-by-specialty>