<section class="gls-section-default">
  <div class="gls-cover-container">
    <div class="gls-section gls-position-relative gls-text-center">
      <div class="gls-container gls-container-small">
        <div class="gls-margin-medium-bottom">
          <h1 class="gls-heading-small gls-text-semibold gls-text-uppercase gls-margin-remove">
            Mental Health Providers
          </h1>
        </div>
        <div class="gls-margin-medium-bottom">
          <p>
            As required by Utah Senate Bill 26 (SB26), the following page contains
            licensure and contact information about mental health care providers
            practicing across University of Utah Health.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gls-section-default">
  <div class="gls-container">
    <h3>Standards of appropriate care and ethical boundaries:</h3>
    <ul>
      <li>In a professional relationship with a mental health practitioner, a dual relationship between a client and a provider, or one that is romantic, financially motivated, sexual, or otherwise risks impacting the provider’s judgment or the quality of the services provided, is never appropriate and should be reported to DOPL at <a href="tel:+18015306628">(801) 530-6628</a> or by e-mail at <a href="mailto:dopl@utah.gov">dopl&#64;utah.gov</a>.</li>
      <li>APA Ethical Practices of Psychologists and Code of Conduct</li>
      <li>Psychologist Licensing Act Rules, Division of Professional Licensing (DOPL)</li>
    </ul>    
    <h3>Client/Patient Rights – Non-Involuntary and/or Not under a temporary commitment:</h3>
    <ul>
      <li>Patient Rights and Responsibilities can be found on our website: Patient Rights & Responsibilities.</li>
      <li>You may also request a copy of the Patient Rights and Responsibilities.</li>
      <li>You have a right to seek a second opinion, to ask for additional information, and to terminate treatment at any time.</li>
    </ul>
    <p>If you would like additional information on your provider, you may request that at any time.</p>
  </div>
</section>


<app-providers-by-specialty [title]="'Clinical Psychology'" class="gls-section" [customClass]="'gls-section-muted'" [specialty]="'SPEC000018'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Psychology'" class="gls-section" [customClass]="'gls-section-default'" [specialty]="'SPEC000113'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Psychology, Clinical'" class="gls-section" [customClass]="'gls-section-default'" [specialty]="'SPEC000114'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Social Work'" class="gls-section" [customClass]="'gls-section-muted'" [specialty]="'SPEC000125'"></app-providers-by-specialty>
<app-providers-by-specialty [title]="'Rehabilitation Psychology'" class="gls-section" [customClass]="'gls-section-default'" [specialty]="'SPEC027051'"></app-providers-by-specialty>